

.baby-pink-box {
  background-color: #ffeced; /* Baby pink color */
  padding: 26px;
  border-radius: 5px;
  margin-top: 20px;
}

.front{
  margin-bottom: 10px;
}

.second{
  margin-bottom: 10px;

}

.schedule-meet-btn {
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.schedule-meet-btn:hover {
  background-color: #333;
  cursor: pointer;
}

.cta-btn {
  transition: background-color 0.3s, color 0.3s;
}

.cta-btn:hover {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 884px) {
  .contact-container {
    right: 80px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 664px) {
  .contact-container {
    right: 0;
    width: 250px;
    height: 250px;
  }
}
