.baby-pink-box {
  background-color: #ff7f34de; 
  padding: 26px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0.4, 0.3, 0.6); 
}

resume-cta{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.front {
  margin-bottom: 10px;
}

.second {
  margin-bottom: 10px;
}

.schedule-meet-btn {
  padding: 10px;
  background-color: #222;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

.schedule-meet-btn:hover {
  background-color: #333;
  cursor: pointer;
}

.cta-btn {
  transition: background-color 0.3s, color 0.3s;
  margin-top: 20px;
}

.cta-btn:hover {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 884px) {
  .contact-container {
    right: 5%;
    width: 90%;
    height: auto;
    max-height: 300px;
  }
}

@media screen and (max-width: 664px) {
  .contact-container {
    right: 5%;
    width: 90%;
    height: auto;
    max-height: 250px;
  }
  .baby-pink-box {
    padding: 15px; 
    margin-top: -7px; 
  }
}
