/* Add this to your existing CSS or create a new CSS file */

.container {
  max-width: 800px;
  margin: 0 auto;
}

.about-me-aman {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about-me-aman h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.about-me-aman h4 {
  font-size: 1.2em;
  margin: 5px 0;
  color: #6b6a6a; 
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  margin-right: 10px;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.profile-image:hover {
  filter: grayscale(100%);
}

.about-me h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.about-me p {
  font-size: 1em;
  line-height: 1.6;
}

.text-area span {
  overflow: hidden;
}

.text-area h1 {
  font-family: sans-serif;
  font-size: clamp(26px, 25px + 3vw, 70px);
  line-height: 5.5rem;
  font-weight: 300;
}

@media screen and (max-width: 825px) {
  .text-area h1 {
    line-height: 5.8rem;
  }
}

@media screen and (max-width: 665px) {
  .text-area h1 {
    line-height: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .text-area h1 {
    line-height: 4.2rem;
  }
}

/* Dark Theme Styles */
.dark-theme.container {
  background-color: #000000;
  color: #ffffff; /* White text in dark theme */
}

.dark-theme .profile-image {
  border-color: #ffffff; /* White border in dark theme */
}

.dark-theme .about-me h3 {
  color: #ffffff; /* White text in dark theme */
}

.dark-theme .about-me p {
  color: #e0e0e0; /* Light gray text in dark theme */
}