*{
  font-family: "Helvetica Neue",
}

.project-title {
  margin-bottom: 20px;
}

.work-card {
  margin-top: 28px;
}

.project-name {
  margin-bottom: 10px;
  color: #555;
}

.project-links {
  margin-bottom: 10px;
}

.link-btn {
  display: inline-flex;
  align-items: center;
  color: #555; 
  text-decoration: none;
  margin-right: 10px;
  transition: color 0.3s, border-color 0.3s;
}

.link-btn:hover {
  color: rgb(16, 89, 157);
  border-color: rgb(15, 47, 120); 
}

.project-status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: rgb(177, 177, 177); 
  transition: background-color 0.3s, color 0.3s;
}

.project-status:hover {
  background-color: black;
  color: white;
}

.project-description{
  color: #555;
  font-size: 17px;
}

.project-status {
  margin-bottom: 10px;
}

.thumbs-up-icon {
  margin-right: 5px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: 14px;
}

.tech-list-item {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.tech-list-item span {
  margin: 0 3px;
}

.tech-icon {
  margin-right: 5px;
  font-size: 20px;
}

/* Define specific styles for each icon */
.react { color: #61DAFB; }
.html { color: #E34F26; }
.javascript { color: #F7DF1E; }
.css { color: #1572B6; }
.bootstrap { color: #7952B3; }
.reactRouter { color: #CA4245; }
.framer-motion { color: #64ABF8; }
.socket { color: #010101; }
.material-ui { color: #0081CB; }
.firestore-database { color: #FFA611; }
.fetch-api { color: #42275A; }
.oauth { color: #136AD4; }

/* Styles for links */
.link-btn svg {
  margin-right: 5px;
}
