
h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.work-history {
  margin-top: 20px;
}

.experience-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.emoji {
  font-size: 2em;
  margin-right: 10px;
}

.emoji.rocket {
  color: rgb(0, 68, 255)/* Color for the rocket icon */
}

.emoji.file {
  color: #3498db; /* Color for the file icon */
}

.emoji.laptop {
  color: rgb(0, 68, 255); /* Color for the laptop icon */
}

.emoji.javascript{
  color: rgb(0, 68, 255);
}

.emoji.react{
color: rgb(0, 68, 255) ;
}

.emoji.python{
  color: rgb(0, 68, 255) ;
  }

p {
  font-size: 1.2em;
  margin: 0;
}
