/* styles.css */

/* Common styles for both desktop and mobile */
.work-history {
  margin-top: 10px;
}

.experience-title {
  margin-top: 12px;
    margin-bottom: 20px;
}

.company-name{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.experience-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.emoji {
  font-size: 2em;
  margin-right: 10px;
}

.emoji.file,
.emoji.javascript,
.emoji.laptop,
.emoji.react,
.emoji.rocket,
.emoji.python,
.emoji.briefcase {
  color: rgb(0, 68, 255);
}

p {
  font-size: 1.2em;
  margin: 0;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .experience-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .work-history{
    margin-top: 186px;
  }

  .emoji {
    margin-right: 0;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.1em;
  }
}
